<table
  id="bannerSection"
  width="100%"
  border="0"
  cellpadding="0"
  cellspacing="0"
  class="responsive-table"
  style="border: none"
>
  <tbody>
    <tr>
      <td align="center" valign="top" style="line-height: 10px; font-size: 2px">
        <p>
          <a
            href="https://www.sap.cn/registration/request-demo.html?source=email-cn-smc-temp-banner"
            title="在线预约专家演示"
            target="_blank"
            data-sap-hpa-ceimo-link-alias="WEBSITE"
            rel="noopener"
            ><img
              class="content-img"
              src="https://d.dam.sap.com/a/bkPbP71"
              alt="Banner"
              align="left"
              style="
                max-width: 640px;
                min-width: 278px;
                margin: auto;
                display: block;
                float: left;
              "
          /></a>
        </p>
      </td>
    </tr>
    <!-- 8px -->
    <tr bgcolor="#FFFFFF" style="color: #ffffff">
      <td height="8">
        <div style="width: 100%; height: 8px"></div>
      </td>
    </tr>
  </tbody>
</table>
