<table
  cellpadding="0"
  cellspacing="0"
  border="1"
  width="100%"
  align="left"
  class="responsive-table"
  style="
    border-spacing: 0;
    font-size: 16px;
    border-collapse: collapse;
    color: rgb(0, 0, 0);
  "
>
  <tr class="tr-gdpr">
    <td
      width="616px"
      style="
        border: 2px solid #90caf9;
        max-width: 636px;
        background-color: #e3f2fd;
      "
    >
      <div
        spellcheck="false"
        style="
          font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
          font-size: 14px;
          line-height: 19px;
          position: relative;
          text-align: center;
        "
      >
        <span color="#808080" style="color: #000000"
          ><span
            style="
              font-family: Microsoft YaHei, Arial, Helvetica, Hiragino Sans GB,
                STHeiti, Microsoft YaHei UI, 微软雅黑, sans-serif;
            "
            ><span
              style="
                font-family: Microsoft YaHei, Arial, Helvetica, Hiragino Sans GB,
                  STHeiti, Microsoft YaHei UI, 微软雅黑, sans-serif;
              "
              >想获取更多市场洞察，会议邀请，产品更新？点击加入我们的通讯列表，数字化转型的道路上，SAP
              将一直在您身边。<span
                style="text-decoration: underline; color: #008fd3"
                ><a
                  rel="noopener noreferrer"
                  href="https://www.sap.cn/cmp/dg/gdpr/index.html?campaigncode=Hybris_eDM_Blast"
                  target="_blank"
                  title="立即注册(GDPR)"
                  style="color: #008fd3; text-decoration: underline"
                  data-sap-hpa-ceimo-link-type="Static"
                  data-sap-hpa-ceimo-link-outboundid="X"
                  data-sap-hpa-ceimo-link-utm="X"
                  data-sap-hpa-ceimo-link-trackable="X"
                  data-sap-hpa-ceimo-link-id="16145902014171100"
                  data-sap-hpa-ceimo-link-alias="CONTACT"
                  >立即注册</a
                ></span
              ></span
            ></span
          ></span
        >
      </div>
    </td>
  </tr>
</table>
