<table
  class="wrapper motionband"
  align="center"
  border="0"
  cellpadding="0"
  cellspacing="0"
  width="100%"
  style="
    align-content: center;
    text-align: center;
    border: 0;
    width: 100%;
    vertical-align: top;
    table-layout: fixed;
  "
>
  <tbody>
    <tr>
      <td class="motionband" width="100%" valign="top">
        <img id="developerNewsletterImage" class="motionband" src={{@'\"' +
        banner + '\"'}} alt="Main Image" width="640" style=" min-width: 278px;
        vertical-align: top; opacity: 1; width: 640px; " />
      </td>
    </tr>
  </tbody>
</table>
