
    <!--[if (gte mso 9)|(IE)]>
      <style type="text/css">
        table td {
          border-collapse: collapse;
        }
        body,
        table tr,
        table td,
        a,
        span,
        table.MsoNormalTable {
          font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif !important;
        }
        .masthead {
          height: 64px !important;
        }
        li {
          display: list-item;
          text-indent: -1em;
        }
        table,
        tr,
        td {
          border-collapse: collapse;
        }
        tr {
          font-size: 0px;
          line-height: 0px;
          border-collapse: collapse;
        }
      </style>
    <![endif]-->

    <!--[if gt mso 15]>
      <style type="text/css" media="all">
        /* Outlook 2016 Height Fix */
        table,
        tr,
        td {
          border-collapse: collapse;
        }
        tr {
          font-size: 0px;
          line-height: 0px;
          border-collapse: collapse;
        }
      </style>
    <![endif]-->