<table
  class="oneColumnContentTable responsive-table"
  width="100%"
  border="0"
  cellpadding="0"
  cellspacing="0"
>
  <tbody>
    <tr>
      <td width="100%" align="center">
        <table
          class="responsive-table"
          cellspacing="0"
          cellpadding="0"
          border="0"
          width="580"
        >
          <tbody>
            <tr>
              <td>
                <!-- HEADLINE -->
                <!-- CONTENT_BLOCK_1 mandatory -->
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td height="32">
                        <div style="width: 100%; height: 32px"></div>
                      </td>
                    </tr>
                    <tr>
                      <td
                        valign="top"
                        style="padding: 0"
                        class="mobile-wrapper"
                      >
                        <table
                          cellpadding="0"
                          cellspacing="0"
                          border="0"
                          width="100%"
                          align="right"
                          class="responsive-table"
                        >
                          <tbody>
                            <tr>
                              <td style="padding: 0px 0 0px 0">
                                <table
                                  width="100%"
                                  border="0"
                                  cellspacing="0"
                                  cellpadding="0"
                                >
                                  <tbody>
                                    {{block 'meetingLocation'}}{{/block}} {{if
                                    meetingAudience}}
                                    <tr>
                                      <td align="left">
                                        <div
                                          style="
                                            font-size: 16px;
                                            font-family: 'Microsoft
                                                                YaHei'
                                                ， Arial,
                                              Helvetica, sans-serif;
                                            text-align: left;
                                            color: rgb(0, 0, 0);
                                          "
                                        >
                                          <b>参会对象：</b>
                                          <span style="color: rgb(0, 0, 0)">
                                            {{meetingAudience}}
                                          </span>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td height="15">
                                        <div
                                          style="width: 100%; height: 15px"
                                        ></div>
                                      </td>
                                    </tr>
                                    {{/if}}

                                    <tr>
                                      <td align="left">
                                        <div
                                          style="
                                            font-size: 16px;
                                            font-family: 'Microsoft
                                                                YaHei'
                                                ， Arial,
                                              Helvetica, sans-serif;
                                            text-align: left;
                                            color: rgb(0, 0, 0);
                                          "
                                        >
                                          <b>会议时间：</b>
                                          <span style="color: rgb(0, 0, 0)">
                                            {{meetingTime}}
                                          </span>
                                        </div>
                                      </td>
                                    </tr>
                                    {{if schedule.length > 0 && schedule[0].agenda.length>0}}
                                    <tr>
                                      <td height="15">
                                        <div
                                          style="width: 100%; height: 15px"
                                        ></div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <b>日程安排：</b>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td height="5">
                                        <div
                                          style="width: 100%; height: 5px"
                                        ></div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <table
                                          cellpadding="0"
                                          cellspacing="0"
                                          border="0"
                                          width="100%"
                                          align="left"
                                          class="responsive-table"
                                          style="
                                            font-size: 16px;
                                            border-collapse: collapse;
                                            color: rgb(0, 0, 0);
                                          "
                                        >
                                          <!-- hasGuestCol 作为一个判定条件 当表格中没有出现任何嘉宾的情况下 会议表格变为两列  -->

                                          {{each schedule}} {{if $index == 0}}
                                          <tr>
                                            <td height="5">
                                              <div
                                                style="width: 100%; height: 5px"
                                              ></div>
                                            </td>
                                          </tr>
                                          {{else}}
                                          <tr>
                                            <td height="25">
                                              <div
                                                style="
                                                  width: 100%;
                                                  height: 25px;
                                                "
                                              ></div>
                                            </td>
                                          </tr>

                                          {{/if}} {{if $value.title}}
                                          <tr>
                                            <td colspan="3">
                                              <b>{{@$value.title}}</b>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td height="5">
                                              <div
                                                style="width: 100%; height: 5px"
                                              ></div>
                                            </td>
                                          </tr>
                                          {{/if}}
                                          <tr class="tr-firstline-blue">
                                            <td width="20%">
                                              <span
                                                style="
                                                  color: #000000;
                                                  font-size: 16px;
                                                "
                                                >时间</span
                                              >
                                            </td>
                                            {{if $value.hasGuestCol}}
                                            <td width="40%">
                                              <span
                                                style="
                                                  color: #000000;
                                                  font-size: 16px;
                                                "
                                                >内容安排</span
                                              >
                                            </td>
                                            <td width="40%">
                                              <span
                                                style="
                                                  color: #000000;
                                                  font-size: 16px;
                                                "
                                                >演讲嘉宾</span
                                              >
                                            </td>
                                            {{else}}

                                            <td width="80%" colspan="2">
                                              <span
                                                style="
                                                  color: #000000;
                                                  font-size: 16px;
                                                "
                                                >内容安排</span
                                              >
                                            </td>
                                            {{/if}}
                                          </tr>
                                          {{set isGuestColExist =
                                          $value.hasGuestCol}} {{each
                                          $value.agenda}}
                                          <tr class="trStandard">
                                            <td class="tdStandard">
                                              <span
                                                style="
                                                  color: rgb(0, 0, 0);
                                                  font-size: 16px;
                                                "
                                                >{{@$value.time}}</span
                                              >
                                            </td>
                                            <td class="tdStandard" {{if !isGuestColExist}}
                                            colspan="2"
                                            {{/if}}>
                                              <span
                                                style="
                                                  color: rgb(0, 0, 0);
                                                  font-size: 16px;
                                                "
                                                >{{@$value.content}}</span
                                              >
                                              {{if $value.details}}
                                              
                                              {{set gray = "#757575";}}
                                              <div style="
                                              color: {{gray}};
                                              font-size: 15px;
                                              padding-top: 10px;
                                            ">{{@$value.details}}</div>
                                            {{/if}}
                                            </td>
                                            {{if isGuestColExist}}
                                            <td class="tdStandard">
                                              {{if $value.guests.length != 0}}
                                              {{set guests = $value.guests}}
                                              {{each guests}} {{if $index != 0}}
                                              <br />
                                              {{/if}}
                                              <div
                                                style="
                                                  color: rgb(0, 0, 0);
                                                  padding-bottom: 3px;
                                                  font-size: 16px;
                                                "
                                              >
                                                {{@$value.name}}
                                              </div>
                                              <div
                                                style="
                                                  color: rgb(0, 0, 0);
                                                  font-size: 16px;
                                                "
                                              >
                                                {{@$value.title}}
                                              </div>
                                              {{/each}} {{/if}}
                                            </td>
                                            {{/if}}
                                          </tr>
                                          {{/each}} 
                                          {{if $value.remark}}
                                          <!-- 10px -->
                                            <tr>
                                              <td height="10">
                                                <div style="height: 10px"></div>
                                              </td>
                                            </tr>
                                          <!-- remark here -->
                                            <tr>
                                              <td colspan="3">
                                                <div style="font-size: 14px"><i>{{@$value.remark}}</i></div>
                                              </td>
                                            </tr>
                                          {{/if}}
                                        {{/each}}
                                          
                                        </table>
                                      </td>
                                    </tr>
                                    {{/if}}
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <!-- 32px -->
    <tr>
      <td height="32">
        <div style="width: 100%; height: 32px"></div>
      </td>
    </tr>
    <!-- 8px -->
    <tr bgcolor="#FFFFFF" style="color: #ffffff">
      <td height="8">
        <div style="width: 100%; height: 8px"></div>
      </td>
    </tr>
  </tbody>
</table>
